---
title: Index page
---
{% extends "layouts/_layout2.html" %}

{% block content %}

<header class="header">
	<div class="container">
		<div class="header__links">
			<div class="links">
				<a class="links__head" href="#">Sign Up</a>
				<a class="links__head" href="#">Login</a>
				<a class="links__head" href="#">RSS Feeds</a>
				<a class="links__head" href="#">Archived News</a>
			</div>
		</div>
		<div class="header__socials">
			<div class="social">
				<a href="#" class="social__link">
					{{mixins.icon('facebook-logo')}}
				</a>
				<a href="#" class="social__link">
					{{mixins.icon('twitter')}}
				</a>
				<a href="#" class="social__link">
					{{mixins.icon('google-plus')}}
				</a>
			</div>
		</div>
	</div>
</header>
<!-- begin section title-section -->
<section class="section title-section">
	<div class="container">
		<h1 class="title-section__title">MAG MAGAZINE</h1>
		<p class="title-section__description">ALL THE LATEST NEWS &amp; INFORMATION IN THE WORLD</p>
	</div>
</section>
<!-- end section title-section -->
<!-- begin main-navigation -->
<div class="main-navigation">
	<div class="container">
		<nav class="navigation">
			<a href="#" class="navigation__link is-active">HOMEPAGE</a>
			<a href="#" class="navigation__link">STYLE DEMO</a>
			<a href="#" class="navigation__link">FULL WIDTH</a>
			<a href="#" class="navigation__link">DROPDOWN</a>
			<a href="#" class="navigation__link">LINK TEXT</a>
		</nav>
	</div>
</div>
<!-- end main-navigation -->

<!-- begin main -->
<div class="main">
	<div class="container">
		<div class="main__news">
			<div class="news news_big">
				<a href="#" class="news__image news__image_big" style="background: #333;"></a>
				<h2 class="news__title news__title_big g-news__title"><a href="#">Cursus penati saccum ut curabitur nulla.</a></h2>
				<p class="news__text news__text_big  g-news__text">maurisque eros molest nunc anteget sed vel lacus mus semper. Anterdumnullam interdum eros dui urna consequam ac nisl nullam ligula vestassa. Condimentumfelis et amet tellent quisquet a leo lacus nec augue accumsan. Sagittislaorem dolor sum at urna et pharetium malesuada nis cons ectus.</p>
			</div>
		</div>
		<div class="main__subnews">
			<div class="news news_medium">
				<a href="#" class="news__image news__image_medium" style="background: #333;"></a>
				<h2 class="news__title news__title_medium g-news__title"><a href="#">Cursus penati saccum ut</a></h2>
				<p class="news__text g-news__text">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
			</div>
			<div class="news news_medium">
				<!-- <a href="#" class="news__image news__image_medium" style="background: #333;"></a> -->
				<h2 class="news__title news__title_medium g-news__title"><a href="#">Cursus penati saccum ut</a></h2>
				<p class="news__text g-news__text">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
			</div>
			<div class="news news_medium">
				<a href="#" class="news__image news__image_medium" style="background: #333;"></a>
				<h2 class="news__title news__title_medium g-news__title"><a href="#">Cursus penati saccum ut</a></h2>
				<p class="news__text g-news__text">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
			</div>
			<div class="news news_medium">
				<a href="#" class="news__image news__image_medium" style="background: #333;"></a>
				<h2 class="news__title news__title_medium g-news__title"><a href="#">Cursus penati saccum ut</a></h2>
				<p class="news__text g-news__text">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- begin content -->
		<div class="content">
			<div class="content__block">
				<div class="content__block-inner">
					<div class="content__inner-block">
						<h2 class="content__title">LOREM IPSUM</h2>

						<div class="news news_small">
							<a href="#" class="news__image news__image_small" style="background: #333;"></a>
							<h2 class="news__title news__title_small g-news__title"><a href="#">Cursus penati saccum</a></h2>
							<p class="news__text g-news__text g-news__text_small">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci.</p>
							<a class="g-read g-read_more" href="#">read more »</a>
						</div>
						<div class="news news_small">
							<a href="#" class="news__image news__image_small" style="background: #333;"></a>
							<h2 class="news__title news__title_small g-news__title"><a href="#">Cursus penati saccum</a></h2>
							<p class="news__text g-news__text g-news__text_small">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
							<a class="g-read g-read_more" href="#">read more »</a>
						</div>
						<div class="news news_small">
							<a href="#" class="news__image news__image_small" style="background: #333;"></a>
							<h2 class="news__title news__title_small g-news__title"><a href="#">Cursus penati saccum</a></h2>
							<p class="news__text g-news__text g-news__text_small">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
							<a class="g-read g-read_more" href="#">read more »</a>
						</div>


					</div>
					<div class="content__inner-block">
						<h2 class="content__title">LOREM IPSUM</h2>

						<div class="news news_small">
							<a href="#" class="news__image news__image_small" style="background: #333;"></a>
							<h2 class="news__title news__title_small g-news__title"><a href="#">Cursus penati saccum</a></h2>
							<p class="news__text g-news__text g-news__text_small">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
							<a class="g-read g-read_more" href="#">read more »</a>
						</div>
						<div class="news news_small">
							<a href="#" class="news__image news__image_small" style="background: #333;"></a>
							<h2 class="news__title news__title_small g-news__title"><a href="#">Cursus penati saccum</a></h2>
							<p class="news__text g-news__text g-news__text_small">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
							<a class="g-read g-read_more" href="#">read more »</a>
						</div>
						<div class="news news_small">
							<a href="#" class="news__image news__image_small" style="background: #333;"></a>
							<h2 class="news__title news__title_small g-news__title"><a href="#">Cursus penati saccum</a></h2>
							<p class="news__text g-news__text g-news__text_small">Cursuspenatisaccum ut curabitur nulla tellus tor ames a in curabitur pede. Idet mollisi eros dis orci congue elis et curabi.</p>
							<a class="g-read g-read_more" href="#">read more »</a>
						</div>


					</div>
				</div>
				
				<div class="news-menu-wrapper">
					<ul class="news-menu">
						<li class="news-menu__item is-active"><a href="#news" class="news-menu__link">FINANCIAL WORLD</a></li>
						<li class="news-menu__item"><a href="#sport" class="news-menu__link">SPORTS WORLD</a></li>
						<li class="news-menu__item"><a href="#world" class="news-menu__link">PROMI WORLD</a></li>
						<li class="news-menu__item"><a href="#music" class="news-menu__link">MUSIC &amp; ARTS WORLD</a></li>
					</ul>
					<div class="news-items" id="news">
						<div class="news-item">
							<a class="news-item__title">Sed vel lacus mus semper.</a>
							<a href="#" class="news__image news__image_item" style="background: #333;"></a>
							<p class="news-item__text">Maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum eros duiur.
							</p>
							<span class="news-item__tag">Tag: <a class="g-read g-read_tag" href="#">read more »</a></span>
						</div>
						<div class="news-item">
							<a class="news-item__title">Sed vel lacus mus semper.</a>
							<a href="#" class="news__image news__image_item" style="background: #333;"></a>
							<p class="news-item__text">Maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum eros duiur.
							</p>
							<span class="news-item__tag">Tag: <a class="g-read g-read_tag" href="#">read more »</a></span>
						</div>
						<div class="news-item">
							<a class="news-item__title">Sed vel lacus mus semper.</a>
							<a href="#" class="news__image news__image_item" style="background: #333;"></a>
							<p class="news-item__text">Maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum eros duiur.
							</p>
							<span class="news-item__tag">Tag: <a class="g-read g-read_tag" href="#">read more »</a></span>
						</div>
						<div class="news-item">
							<a class="news-item__title">Sed vel lacus mus semper.</a>
							<a href="#" class="news__image news__image_item" style="background: #333;"></a>
							<p class="news-item__text">Maurisque eros molest nunc anteget sed vel lacus mus semper. Anterd umnullam interdum eros duiur.
							</p>
							<span class="news-item__tag">Tag: <a class="g-read g-read_tag" href="#">read more »</a></span>
						</div>
					</div>
					<div class="news-items" id="sport" style="display: none">
						<div class="news-item">
							<a class="news-item__title">Sed vel lacus mus semper.</a>
							<a href="#" class="news__image news__image_item" style="background: #333;"></a>
							<p class="news-item__text">Maurisque eros molest nunc anteget sed
							</p>
							<span class="news-item__tag">Tag: <a class="g-read g-read_tag" href="#">read more »</a></span>
						</div>
					</div>
					<div class="news-items" id="world" style="display: none">
						<div class="news-item">
							<a class="news-item__title">Sed vel lacus mus semper.</a>
							<a href="#" class="news__image news__image_item" style="background: #333;"></a>
							<p class="news-item__text">Maurisque 
							</p>
							<span class="news-item__tag">Tag: <a class="g-read g-read_tag" href="#">read more »</a></span>
						</div>
						<div class="news-item">
							<a class="news-item__title">Sed vel lacus.</a>
							<a href="#" class="news__image news__image_item" style="background: #333;"></a>
							<p class="news-item__text">Maurisque eros molest nunc lacus mus semper. Anterd umnullam interdum eros duiur.
							</p>
							<span class="news-item__tag">Tag: <a class="g-read g-read_tag" href="#">read more »</a></span>
						</div>
					</div>
				</div>
			</div>
			<div class="content__links">
				<div class="content__advertisement">
					<div class="advertisement">
						<a href="#" class="advertisement__title g-advertisement__title">Advertisement</a>
						<a class="advertisement__img" href="#" style="background: #333"></a>
					</div>
				</div>
				<div class="content__set-links">
					<div class="categories">
						<a href="#" class="advertisement__title g-advertisement__title">Categories</a>
						<ul class="categories__list">
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
						</ul>
					</div>
					<div class="categories">
						<a href="#" class="advertisement__title g-advertisement__title">Link Header</a>
						<ul class="categories__list">
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
						</ul>
					</div>
					<div class="categories">
						<a href="#" class="advertisement__title g-advertisement__title">Link Header</a>
						<ul class="categories__list">
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
							<li class="categories__item g-item"><a href="#" class="categories__link g-link">»  Suspendisse in neque</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end content -->
	</div>

	<!-- begin additional-links -->
	<div class="additional-links">
		<div class="container">
			<div class="additional-links__item">
				<h2 class="content__title">LOREM IPSUM</h2>
				<ul class="categories__list">
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
				</ul>
			</div>
			<div class="additional-links__item">
				<h2 class="content__title">LOREM IPSUM</h2>
				<ul class="categories__list">
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
				</ul>
			</div>
			<div class="additional-links__item">
				<h2 class="content__title">LOREM IPSUM</h2>
				<ul class="categories__list">
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
				</ul>
			</div>
			<div class="additional-links__item">
				<h2 class="content__title">LOREM IPSUM</h2>
				<ul class="categories__list">
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
				</ul>
			</div>
			<div class="additional-links__item">
				<h2 class="content__title">LOREM IPSUM</h2>
				<ul class="categories__list">
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
					<li class="categories__item g-item"><a href="#" class="categories__link g-link">Lorem ipsum dolor</a></li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- end additional-links -->
	<footer class="footer">
		<div class="container">
			<div class="footer__copyright">Copyright &copy; 2013 Domain Name - All Rights Reserved</div>
		</div>
	</footer>

</div>
<!-- end main -->

{% endblock %}
